*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --orange: #ff7c0a;
  --light-grey: #989898;
  --medium-grey: #626262;
  --dark-grey: #1b1a1a;
  --dark-blue: #0f223f;
  --darker-blue: #08111f;
  --near-white: #f9f9f9;
  --margin-bottom: 20px;
}

.light-mode{
  --light-grey: #6d6d6d;
    --medium-grey: #ffffff;
    --dark-grey: #bbb;
    --dark-blue: #ffffff;
    --darker-blue: #7e9fd3;
    --near-white: #08111f;
}

body{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(../img/hex-background-networking.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #1b1a1a;
  color: var(--near-white);
  font-size: 18px;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65); 
  pointer-events: none; 
  z-index: -1; 
}

h1{
  text-shadow: 1px 1px 6px rgb(0, 0, 0);
  color: var(--orange);
  letter-spacing: 8px;
  margin-top: 15px;
  font-size: 55px;
}

.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
  max-width: 1100px;
}

.dashboard{
  position: relative;
  width: 25%;
  display: inline-block;
  min-width: 300px;
  height: 150px;
  border-radius: 10px;
  background: var(--darker-blue);
  padding: 5px;
}

.level, .extras{
  display: inline-block;
  position: relative;
  background-color: var(--dark-grey);
  border-radius: 10px;
  height: 150px;
  min-width: 250px;
}

.level h3{
  font-size: 14px;
  color: #ffffff;
}

.choose-level{
  padding: 10px 15px;
  display: inline-block;
  width: 75%;
  margin: 3px auto;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid var(--orange);
  background-color: var(--light-grey);
  color:var(--dark-blue);
  transition: .2s;
  font-weight: bold;
}

.choose-level:hover{
  background-color: var(--dark-blue);
  color: var(--orange)
}

.btn{
  background-color: transparent;
  border: none;
}

.smiley{
  display: inline-block;
  margin: auto;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}

.smiley:hover{
  transform: scale(1.16); 
}

.time, .hints,
.lives-counter, .best-time{
  display: inline-block;
  position: absolute;
}

.hints{
  top: 5px;
  right: 3px;
}

.time, .lives-counter, .best-time{left: 5px;}

.time{top: 10px}

.lives-counter{top: 45px;}

.best-time{top: 80px;}


.hint{
  font-size: 20px;
  filter: grayscale(90%);
  cursor: pointer;
}

.hint.active{
  filter: grayscale(0%);
  transform: scale(1.5);
}

.hint.used{
  visibility: hidden;
}

.hint:hover{
  transform: scale(1.5);
}

.extra-btn{
  background-color: var(--light-grey);
  border: 1px solid var(--orange);
  color: var(--dark-blue);
  width: 45%;
  height: 35%;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: .2s;
  font-size: 14px;
}

.extra-btn:hover{
  background-color: var(--dark-blue);
  color: var(--orange)
}

.safe-click{
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 10px;
}

.light-mode-btn{
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 10px;
}

.manually-create-btn{
  display: inline-block;
  position: absolute;
  bottom: 18px;
  left: 10px;
}

.board{
  cursor: pointer;
  height: 100%;
}

.board-container{
  background-color: var(--medium-grey);
  margin: 0 auto 20px;
  border: 2px solid var(--dark-grey);
  height: 40%;
  max-height: 500px;
  border-collapse: collapse;
}

.cell{
  border: 1px solid var(--light-grey);
  width: 1.75em;
  height: 1.75em;
  font-size: 20px;
}

.cell:hover{
  background-color: var(--light-grey);
  cursor: pointer;
}

.safe-cell{
  background-color: #1e7ee392 ;
  transition: .4s;
}

.mineset{
  background-color: rgba(255, 0, 0, 0.536);
}

.off, .off:hover{
  color: var(--light-grey);
  background: var(--dark-grey);
  border: 1px solid var(--medium-grey);
  cursor: default;
}

.covered{
  display: none;
}

.revealed{
  background-color: #c8c7c7;
}

footer{
  margin-bottom: 10px;
  font-size: 14px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  color: var(--light-grey);
}